- @suggestions.each do |suggestion|
  = suggestion.rubygem.name
  %br
  now category:
  = suggestion.rubygem.category
  %br
  suggested category:
  = suggestion.category
  %br
  by
  = suggestion.user.github_name
  %br
