%h2
  Category:
  = @category.name

%ul.list-group
  - @rubygems.each do |rubygem|
    %li.list-group-item
      %h4.list-group-item-heading= link_to rubygem.name, rubygem
      rank
      = rubygem.ranking
      %br
      download:
      = rubygem.download_count_for_ranking
