!!!
%html
  %head
    %title Rankingems
    %meta{ charset: 'utf-8'}
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    = csrf_meta_tags
  %body
    = yield
