!!!
%html
  %head
    %title Rankingems
    %meta{ charset: 'utf-8'}
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navigation
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{ href: '/'} Rankingems
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
    .container
      = yield
